#graph {
  border-width: 1px;
  border-color: #ddd;
  border-radius: 20px;
  border-style: solid;
  width: 800px;
  height: 500px;
  margin-left: auto ;
  margin-right: auto ;
}
body {
  background: #ECECEC;
  color: #444;
  font-family: "Karla", sans serif;
}
a:link {
  color:#2B7CE9;
}
h1 {
  text-align: center;
  font-size: 33px;
  line-height: 50px;
  font-weight: 150;
}
h1, h2, h3 {
  color: #000;
  text-transform: uppercase;
}
#credits {
  top: 0px;
  left: 0px;
  font-size: 10px;
}
header, main {
  width: 800px;
  margin-left: auto ;
  margin-right: auto ;
}
p {
  text-indent: 50px;
  text-align: justify;
}
table {
  margin-left: auto ;
  margin-right: auto ;
  width: 700px;
  text-align: left;
  th {
    font-weight: bold;
    text-transform: uppercase;
  }
}
figcaption {
  text-align:right;
}
